
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:white; text-align:center">Đây là trang chủ admin</h2>
<h2 style="color:white">Nguyễn Hải Duy Đức- 15DH110065 - Ca 1</h2>
